body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

header {
    margin: 20px 0;
    text-align: center;
    width: 100%;
}

.logo {
    width: 50px;
}

.sidebar {
    position: sticky;
    top: 20px;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    flex-shrink: 0;
}

.stats {
    margin-bottom: 20px;
}

.special-skills-summary, .special-skills-detail {
    margin-top: 20px;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
}

.description {
    margin-top: 20px;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    flex-grow: 1;
    margin-right: 20px;
}

.stats table, .activities {
    width: 100%;
    border-collapse: collapse;
}

.stats td, .activities td, .activities th {
    padding: 10px;
    border: 1px solid #555;
}

.activities {
    flex-grow: 1;
}

.activities button {
    padding: 5px 10px;
    background-color: #00f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.activities button:hover {
    background-color: #008;
}
